extends layout

block content
  h1= title
  body
    h1 Amigos Caninos
    div
      p
        | Conoce los amigos que se buscan hogar por el momento,cuando adopatas un perro no es solo una mascota...
        | es un companero de vida!
      label Caracteristicas:
      br
      input(type="checkbox" name="tema1")
      |  Nombre 
      br
      input(type="checkbox" name="tema2")
      |  Raza  
      br
      input(type="checkbox" name="tema3")
      |  Tamano 
      br
      input(type="checkbox" name="tema4")
      |  Favoritos 
      br
      button Buscar
    div
      img(src="bello.jpg")
      img(src="huskie.jpg")
      img(src="cacri.jpg")
      img(src="tequila.jpeg")
      img(src="cuchi.jpg")
      img(src="mucuchies.jpg")

  
