extends layout

block content
  h1= title
  body
    h1 Can-Can
    div
      p
        | Tenemos algunos amigos que buscan hogar ,cuando adoptas un perro no es solo una mascota...
        | es un companero de vida!
      body
    .container-flow
      header 
        h3 CAN-CAN
      div(class="row",style="padding:30px")
        div(class="col-sm-3")
          div(class="col-sm-12", style="margin-bottom:10px")
            label(for="razas") Razas:
            select(id="razas", name="razas", class="form-control")
          div(class="col-sm-12", style="margin-bottom:10px")
            label(for="tamano") Tamaño:
            select(id="tamano", name="tamano", class="form-control")
          div(class="col-sm-12")
            button(class="btn btn-primary btn-block") Filtrar
        div(class="col-sm-9")
          div(class="row")
            block content

